# Node environment
NODE_ENV="development"
# Server port
PORT="3000"
# API client base URL
API_BASE_URL="http://localhost:3000"

# Neon DB
DATABASE_URL="postgresql://user:pass@host.neon.tech/dbname?sslmode=verify-full&channel_binding=require" # with -pooler
DIRECT_URL="postgresql://user:pass@host.neon.tech/dbname?sslmode=verify-full&channel_binding=require"   # without -pooler

# Sentry
SENTRY_DSN="" # grab the actual URL from the Sentry project setup page
SENTRY_TRACES_SAMPLE_RATE="0.2" # lower value in prod           
SENTRY_PROFILES_SAMPLE_RATE="0.2" # lower value in prod          
SENTRY_SEND_DEFAULT_PII="false" 

# Gemini
GOOGLE_GENERATIVE_AI_API_KEY=""

# Groq
GROQ_API_KEY=""

# Mistral
MISTRAL_API_KEY=""

# Cerebras
CEREBRAS_API_KEY=""

# NVIDIA NIM
NIM_API_KEY=""

# Clerk Auth
CLERK_API_CLIENT_BASE_URL=""
CLERK_OAUTH_CLIENT_ID=""
CLERK_OAUTH_CLIENT_SECRET=""
CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# Polar.sh
POLAR_ACCESS_TOKEN=""
POLAR_SERVER_ENVIRONMENT="sandbox"
POLAR_TOKENS_METER_ID=""
POLAR_STARTER_PACK_ID=""
POLAR_PRO_PACK_ID=""
POLAR_POWER_PACK_ID=""
