API_BASE_URL="http://localhost:3000"
DATABASE_URL="postgresql://user:pass@host.neon.tech/dbname?sslmode=verify-full&channel_binding=require" # with -pooler
DIRECT_URL="postgresql://user:pass@host.neon.tech/dbname?sslmode=verify-full&channel_binding=require"   # without -pooler
